.presentation{
    display: flex;
    flex-direction: column;
}

.presentation-title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 25px;
    margin-top: 50px;
}
.presentation-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.presentation-description{
    width: 50%;
    text-align: justify;
}

@media(max-width : 768px) {
    .presentation-content{
        flex-direction: column;
    }

    .presentation-description{
        width: 100%;
    }
    
}