.langage{
    background:linear-gradient(270deg,#fff 0, #f7f7f7 80%);
    padding: 48px;
}

.langage-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.langage-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

@media(max-width : 540px) {
    h3{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .langage{
        padding: 0;
        margin-bottom: 30px;
    }

    .langage-content{
        flex-direction: column;
        gap: 30px;
        
    }
}